body {
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-picture {
    width: 180px;
}
.info{
    margin : 0 10px;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}